*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}
.container{
    background-color: #fff;
    padding: 30px;
    border-radius: 0.5em;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.container h2{
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}
.otp-input-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
}
.otp-input-container .otp-input{
   width: 40px; 
   height: 40px;
   border-radius: 5px;
   margin: 2px 5px;
   text-align: center;
   font-size: 25px;
   color: red;
   background-color: rgb(235, 230, 230);
}
.verify-button{
    display: flex;
    justify-content: center;
}
.verify-otp{
    padding: 10px 20px;
    font-size: 1em;
    background-color: olive;
    color: #fff;
    border:none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    
   
}
.verify-otp:hover{
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: rgb(196, 196, 32);
    color: #fff;
    border:none;
    border-radius: 0.25em;
    cursor: pointer;
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}